<p id="notice"><%= notice %></p>

<p>
  <strong>Rest name:</strong>
  <%= @rest_list.rest_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @rest_list.description %>
</p>

<p>
  <strong>Phone num:</strong>
  <%= @rest_list.phone_num %>
</p>

<p>
  <strong>Street address:</strong>
  <br>
  <%= @rest_list.street_address %>
  <br>
  <%= @rest_list.city %>, <%= @rest_list.state %>
  <%= @rest_list.zipcode %>
</p>

<p>
  <strong>Menu link:</strong>
  <%= @rest_list.menu_link %>
</p>
<p>
<strong>Map</strong>
</p>
<%= image_tag("#{@map_url_string}", :alt => "Restaurant Map") %>
<br>


<%= link_to 'Edit', edit_rest_list_path(@rest_list) %> |
<%= link_to 'Back', rest_lists_path %>
